* {
  box-sizing: border-box;
  cursor: url('./images/d2R-cursor-32-26.cur'), default;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Exocet Blizzard';
  src: url('fonts/ExocetBlizzardMixedCaps-Medium.woff2') format('woff2'),
    /* Add more formats as necessary */
}

/* Add basic styling to the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #3d3d45;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  border-radius: 8px;
  z-index: 1000;
}

/* Style the navbar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Exocet Blizzard', Helvetica, sans-serif;
}

/* Style the logo */
.navbar-logo {
  height: 60px;
  margin-right: 5px;
}

/* Style the bottom navbar */
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  pointer-events: none;
}

audio {
  pointer-events: all;
}


.center-music p {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}


/* Remove default styles from links */
.bottom-navbar a {
  height: 150px;
  padding: 20px 0;
  z-index: 10;
}

.navbar-image {
  height: 180px;
  width: auto;
}

.home-link {
  display: flex;
  align-items: center;
  padding: 0;
}

.custom-cursor {
  cursor: url('./images/d2R-cursor-32-26.cur'), default;
  margin-bottom: 180px;
}

body {
  padding-top: 60px;
  background: url('images/background.jpg');
}

/* Position the right link to the end */
.right-link {
  margin-left: auto;
}


/* Same as before, with additional styles for the close button */
.scrolling-text-container {
  overflow: hidden;
  position: relative;
  height: 200px;
  width: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.scrolling-text {
  position: absolute;
  bottom: 0;
  /* Start the animation from the bottom */
  width: 100%;
  /* Ensure the text spans the full width of the container */
  color: white;
  animation: scroll-text 10s linear infinite;
}


@keyframes scroll-text {
  from {
    transform: translateY(80%);
  }

  to {
    transform: translateY(-100%);
  }
}


/* Style for the close button */
.close-text-box {
  box-sizing: border-box;
  border: 1px solid #fff;
  background: black;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

#cain {
  position: absolute;
  top: 30%;
  left: 80%;
}

#asheara {
  position: absolute;
  top: 30%;
  left: 10%;
}

#tyreal {
  position: absolute;
  top: 40%;
  left: 40%;
}
